.Rproj.user
.Rhistory
.RData
.Ruserdata

# 'data' folder #
data/

# 'markdown/charts' folder #
markdown/charts/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# SPSS formats #
*.[sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# Markdown output files #
markdown/report.docx
markdown/summary.docx
